In [33]:
# pip install mysql-connector-python

## create a connection to the database

In [34]:
import mysql.connector

# Connect to the MySQL database
conn = mysql.connector.connect(
    host="localhost",
    user="root",
    password="Hari@8622",
    autocommit=True
)

## use connection to get a cursor that can be used to run queries.

In [35]:
# Create a cursor object
cursor = conn.cursor()

## create a database to do work in

In [36]:
# Execute SQL query to create database
try:
    cursor.execute("CREATE DATABASE datamodel")
except  Exception as e:
    print(e)

1007 (HY000): Can't create database 'datamodel'; database exists

In [37]:
try:
    conn.close()
except  Exception as e:
    print(e)

try:
    conn=mysql.connector.connect(
        host='localhost',
        user='root',
        password='Hari@8622',
        database='datamodel',
        autocommit=True
    )
except  mysql.connector.Error as err:
    print(err)

try:
    cursor=conn.cursor()
except  Exception as e:
    print(e)

## Create Student table which has below columns
 1. student_id
 2. name 
 3. age 
 4. gender
 5. subjects
 6. marks

In [38]:
try:
    cursor.execute("CREATE TABLE student (student_id int,name varchar(50),age int,gender varchar(50),subjects varchar(50),marks int)")
except Exception as e:
    print(f"Error creating table : {e}")

Error creating table : 1050 (42S01): Table 'student' already exists

In [40]:
cursor.execute('INSERT INTO student values(101,"Akash",19,"M","Maths",85)')

In [41]:
#### Method-1 to fetch or select data from table
cursor.execute("SELECT * FROM student")

myresult = cursor.fetchall()

for x in myresult:
  print(x)

(101, 'Akash', 19, 'M', 'Maths', 85)

In [42]:
import pandas as pd

In [44]:
#### Method-2 to fetch or select data from table
df=pd.read_sql_query('SELECT * FROM student',conn)
df

C:\Users\Hariprasad Kulkarni\AppData\Local\Temp\ipykernel_7132\985005896.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df=pd.read_sql_query('SELECT * FROM student',conn)

   student_id   name  age gender subjects  marks
0         101  Akash   19      M    Maths     85

## close your cursor and connection

In [49]:

conn.close()